body
{
    background-position: center;
    background-size: cover;
}

#title
{
    width: 100%;
}

canvas
{
    margin-top: 250px;
    border-color: darkblue;
    border-style: dotted;
    border-width: 5px;
}